@charset "UTF-8";

/* 날씨 css */
#weatherTbl {
	font-family: "a";
	border: 2px solid black;
	border-radius: 20px;
	background-color: white;
	width: 200px;
	height: 180px;
	overflow: hidden;
}

#weatherImg {
	position: absolute;
	width: 120px;
	height: 120px;
	left: 35%;
	bottom: 10px;
	z-index: 0;
}

#weatherCityTbl {
	position: absolute;
	z-index: 1;
}

#weatherFore {
	position: absolute;
	font-size: 20pt;
	font-weight: 900;
}

#weatherTemp {
	font-size: 25pt;
	font-weight: 900;
}

#weatherTempNum {
	position: absolute;
	bottom: 10px;
}

/* 금일, 금주 핫 게시글 css */
.bannerHotTbl {
	border: 2px solid black;
	border-spacing: 0px;
	background-color: white;
	width: 250px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 25px;
}

.bannerHotTr {
	cursor: pointer;
}

.bannerHotTitle {
	text-align: center;
	font-size: 14pt;
	font-weight: 900;
	border-bottom: 1px dashed black;
	height: 40px;
}

.bannerHotIndex {
	text-align: center;
	border-bottom: 1px solid black;
	height: 30px;
	font-weight: 900;
}

.bannerHotIndexTitle {
	border-right: 1px solid black;
	width: 160px;
}

.bannerHotMsgTitle {
	border-right: 1px solid black;
	border-top: 1px solid black;
	max-width: 150px;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
}

.bannerHotMsgLike {
	text-align: center;
	border-top: 1px solid black;
}

/* 광고 */
#bannerC {
	position: relative;
	border-spacing: 0px;
	width: 286px;
	height: 512px;
}

.cSpan {
	position: absolute;
	background-color: #000000;
	color: white;
	left: 2%;
	top: 2%;
	cursor: pointer;
}

#cOpen {
	display: none;
}


/* 뉴스 */


#newsBannerTbl {
	border: 2px solid black;
	border-spacing: 0px;
	width: 604px;
	
}

.newsBannerTitle {
	text-align: center;
	font-size: 14pt;
	font-weight: 900;
	border-bottom: 2px dashed black;
	height: 45px;
}

.newsTbl {
	border-bottom: 1px solid black;
	border-spacing: 0px;
	width: 600px;
	height: 40px;
}

.newsTitle {
	font-size: 13pt;
	font-weight: 900;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: 35px;
	padding-left: 10px;
}

.newsInfo {
	padding-right: 10px;
	font-size: 11pt;
}