@charset "UTF-8";

.replyUpdateDoneBtn {
	display: none;
}

.replyUpdateCancelBtn {
	display: none;
}

.replyHiddenText {
	display: none;
}

.replyTextarea {
	display: none;
	width: 95%;
	resize: none;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.titleNotice {
	color: red;
}


/* 보드 게시판의 css */
#boardTbl {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#boardNoticeTbl {
	background-color: white;
	border: solid 2px black;
	margin-bottom: 20px;
	border-spacing: 0px;
	width: 60%;
}

#boardNoticeTitle {
	border-bottom: solid 2px black;
	font-size: 15pt;
	font-weight: 900;
}

#boardMsgTbl {
	background-color: white;
	border: solid 2px black;
	border-spacing: 0px;
	width: 100%;
}

.boardMsgHover :hover{
	cursor: pointer;
}

.boardMsgTitle {
	border-bottom: solid 2px black;
	border: solid 1px black;
	font-size: 12pt;
	font-weight: 900;
}

.boardMsg {
	border: solid 1px black;
}

.boardNo {
	width: 60px;
}

.boardTitle {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
}

.boardWriter {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#boardTitle {
	border: solid 1px black;
	border-right: none;
}

#boardReplyCount {
	border: solid 1px black;
	border-left: none;
}

.boardWriter {
	width: 120px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 10px;
}

.boardDate {
	width: 80px;
	text-align: center;
}

.boardView {
	width: 60px;
}

.boardLike {
	width: 60px;
}


/* 클릭한 보드 전체 내용의 css */
#boardViewTbl {
	border: 2px solid black;
	border-spacing: 0px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 60%;
	height: 400px;
}

#boardViewTitle {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	padding-left: 10px;
	max-width: 500px;
	height: 30px;
	font-weight: 900;
}

#boardViewWriter {
	position: relative;
	border-bottom: 1px solid black;
	padding-left: 10px;
	height: 30px;
	font-weight: 900;
}
#boardViewWriterImg {
	position: absolute;
	border: 2px solid black;
	display: none;
	opacity: 0%;
	transition: all 0.3s linear;
}

#boardViewWriterImg img {
	border: 2px solid black;
	max-width: 150px;
	max-height: 150px;
}

#boardViewText {
	vertical-align: top;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

#boardViewTextarea {
	resize: none;
	border: none;
	width: 90%;
	line-height: 150%;
}

#boardViewTextarea:focus {
	outline: none;
}

#boardViewDate {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	text-align: right;
	padding-right: 10px;
	height: 30px;
}


#boardViewUD {
	border-bottom: 1px solid black;
	width: 200px;
}

#boardViewLike {
	border-bottom: 1px solid black;
}

#boardViewLikeBtn {
	border-top: 2px solid black;
	height: 30px;
}

#boardViewImg {
	max-height: 300px;
	max-width: 300px;
}


/* 보드 작성하는 부분의 css */
#boardWriteTbl {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 60%;
}

#writeTbl {
	background-color: white;
	border: 2px solid black;
	border-spacing: 0px;
	height: 100%;
	width: 100%;
}

#boardWriteTitle {
	border-right: 1px solid black;
	width: 70px;
	height: 30px;
}

.boardWriteTitle {
	border-bottom: 1px solid black;
}

#boardWriteTitleContext {
	border-bottom: 1px solid black;
	border: none;
	padding-left: 10px;
	margin-left: 10px;
	max-width: 500px;
	width: 90%;
}

#boardWriteChk {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

#boardWriteWriter {
	height: 30px;
	border-bottom: 1px solid black;
}

#boardWriteWriterContext {
	border: none;
	padding-left: 10px;
	max-width: 500px;
	width: 90%;
}

#boardWriteWriterContext:focus {
	outline: none;
}

#boardWriteImg {
	border-bottom: 2px dashed black;
	height: 50px;
	padding-left: 10px;
}

#boardWriteText {
	vertical-align: top;
	padding-top: 10px;
}

#boardWriteTextarea {
	resize: none;
	border: none;
	width: 90%;
	line-height: 150%;
}

#boardWriteBtn {
	padding-right: 20px;
}


/* 보드 수정하는 부분의 css */
#boardUpdateTbl {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 60%;
}

#updateTbl {
	background-color: white;
	border: 2px solid black;
	border-spacing: 0px;
	width: 100%;
}

#boardUpdateTitle {
	border-right: 1px solid black;
	width: 70px;
	height: 30px;
}

.boardUpdateTitle {
	border-bottom: 1px solid black;
}

#boardUpdateTitleContext {
	border: none;
	padding-left: 10px;
	margin-left: 10px;
	max-width: 500px;
	width: 80%;
}

#boardUpdateChk {
	border-bottom: 1px solid black;
	max-width: 50px;
}

#boardUpdateText {
	vertical-align: top;
	padding-top: 10px;
}

#boardUpdateTextarea {
	resize: none;
	border: none;
	width: 90%;
	height: 100%;
	line-height: 150%;
	overflow: hidden;
}

#boardUpdateImg {
	max-height: 300px;
	max-width: 300px;
}


/* 댓글 부분의 css */
#replyTextTbl {
	background-color: white;
	border: 2px solid black;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 50%;
}

#replyTextWriter {
	padding-left: 10px;
	font-weight: 900;
}

#replyTextDate {
	padding-right: 10px;
	width: 200px;
}

#replyTextBtn {
	width: 100px;
}

#replyTextTd {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#replyWriteTbl {
	background-color: white;
	border: 2px solid black;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 50%;
}

#replyWriteWriter {
	padding-left: 10px;
	font-weight: 900;
}

#replyWriteWriter:focus {
	outline: none;
}

#replyWriteText {
	padding-top: 10px;
	padding-left: 10px;
}

#replyWriteTextarea {
	width: 100%;
	resize: none;
}

#replyWriteBtn {
	width: 100px;
}

/* 공지사항 게시판의 css */

.noticeNo {
	width: 60px;
}

/* 펼치기, 접기 */

.boardFold {
	border-top: 2px solid black;
	cursor: pointer;
	font-size: 13pt;
	font-weight: 900;
}

.pageNum {
	cursor: pointer;
}