@charset "UTF-8";

#loginSuccessTbl {
	width: 180px;
	height: 200px;
}

#loginSuccessImg img {
	height: 150px;
	width: 150px;
	border: 2px solid white;
	border-radius: 75px;
}

#loginTbl {
	width: 180px;
	height: 200px;
}