<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teamproject.teamproject.game.GameMapper">
	<update id="betPoint" parameterType="com.teamproject.teamproject.member.Member">
		update tp_member set tp_m_point = #{tp_m_point} where tp_m_id = #{tp_m_id}
	</update>
</mapper>